# Use Harness as a default registry
registry=https://pkg.harness.io/pkg/ct8onj8YTdaXtKaFsYCRLg/org-devtools-npm/npm/

# Block lifecycle scripts
ignore-scripts=true

# Fail on Node.js version mismatch
engine-strict=true

# Minimum release age for all packages
min-release-age=7

# Exclude first-party package from minimum release age policy
# Required if @progress or @telerik/* package references are present
min-release-age-exclude[]=@progress/*
min-release-age-exclude[]=@telerik/*
